Code/__pycache__/fuctions.cpython-39.pyc
Code/__pycache__/main.cpython-39.pyc
Code/Frontend/__pycache__/constants.cpython-39.pyc
V1/Graph_Config.yml
V1/Frontend/old_1_About.py
Data_ext.py
GNN Package List.txt
GNN.csv
mega_config.py
Demo101.zip
V2/__pycache__/backend_config.cpython-39.pyc
V2/__pycache__/fuctions.cpython-39.pyc
V2/__pycache__/functions.cpython-39.pyc
V2/__pycache__/llm_config.cpython-39.pyc
V2/__pycache__/main.cpython-39.pyc
V2/__pycache__/schema_baseline_config.cpython-39.pyc
V2/__pycache__/schema_config.cpython-39.pyc
V2/__pycache__/schema_custom_config.cpython-39.pyc
V2/Frontend/__pycache__/constants.cpython-39.pyc
V1/__pycache__/backend_config.cpython-39.pyc
V1/__pycache__/fuctions.cpython-39.pyc
V1/__pycache__/main.cpython-39.pyc
Demo101/__pycache__/backend_config.cpython-39.pyc
Demo101/__pycache__/functions.cpython-39.pyc
Demo101/__pycache__/main.cpython-39.pyc
V1/__pycache__/functions.cpython-39.pyc
V1/__pycache__/main.cpython-39.pyc
Demo101/*
V2/__pycache__/*
venv/*
V1/__pycache__/main.cpython-39.pyc
V1/Frontend/__pycache__/constants.cpython-39.pyc
